@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem "Open Sans", sans-serif;
}

p {
  padding: 15px;
  color: #00614e;
  line-height: 2.5rem;
}

* {
  box-sizing: border-box;
}

/* formulaire*/
form {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
input,
label {
  display: block;
  width: 40rem;
  resize: none;
}
input[type="text"],
input[type="password"] {
  padding: 0.1rem;
  line-height: 2.5rem;
  border: solid 0.1rem transparent;
  border-bottom-color: #ccc;
  margin-bottom: 1rem;
}
label {
  padding: 5px;
  color: #333;
}
input[type="submit"] {
  background: #00614e;
  line-height: 4.5rem;
  text-align: center;
  color: #fff;
  border: 0;
  font-size: inherit;
  cursor: pointer;
  width: 20rem;
}

.fa {
  position: absolute;
  margin: -3.2rem 0rem 0rem 13rem;
  max-width: 100%;
  color: #fff;
}

.warning {
  color: rgb(218, 31, 31);
  font-weight: bold;
}

.success {
  color: rgb(2, 161, 2);
  font-weight: bold;
}
