@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/****/
h1 {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

table {
  max-width: 100%;
  margin: 0 auto;
}

th {
  background-color: #00614e;
  color: #fff;
  width: 23rem;
  padding: 1rem;
}

td {
  background-color: gainsboro;
  width: 23rem;
  padding: 1rem;
}

tr .cellule2 {
  background-color: #fff;
}

tr td a {
  text-decoration: none;
  color: #222;
}

.ajouter {
  max-width: 100%;
  width: 18rem;
  background-color: #09599a;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
